/*! Product by Wu Jun Xing */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, span{ margin:0; padding:0;}
body{font-family: Arial,"Microsoft YaHei","微软雅黑","宋体"; font-size:13px; line-height:2; color:#666; background-color:White;}
body{background-image:url(../img/bg.jpg); background-position:left top; background-repeat:repeat-x;}
a{text-decoration:none; color:#0D5EAD;}
a:hover{ text-decoration:underline; }

img {border:0;}
table, img, hr, .mceItemAnchor {cursor:default}
table td, table th {cursor:text}
ins {border-bottom:1px solid green; text-decoration: none; color:green}
del {color:red; text-decoration:line-through}
cite {border-bottom:1px dashed blue}
acronym {border-bottom:1px dotted #CCC; cursor:help}
abbr {border-bottom:1px dashed #CCC; cursor:help}
li {list-style: none outside none;}
table {border-collapse: collapse;border-spacing:0;}

.clear{ clear:both;}
.wdiv{ width:1000px; margin:0px auto;}
.wdiv10{ width:1000px; margin:10px auto;}
.f_left{float:left;}
.f_right{float:right;}
.f_left20{float:left; margin-left:20px;}
.f_left_2{float:left; margin-left:10px;}

.floatad {
    z-index:100; position:absolute;
}
.floatad a{
    display:block; width:252px; height:auto; line-height:0; cursor:pointer;
}
.floatad img{
    display:block; width:252px; height:auto; cursor:pointer;
}
.floattype02{
    position:fixed; left:0px; bottom:0px;
}
.floattype03{
    position:fixed; right:0px; bottom:0px;
}
.closead{
    position:absolute; right:0px; bottom:0px; width:60px; height:20px; background-color:#CCC; color:red;
    text-align:center; border:1px solid #999; line-height:20px; cursor:pointer;
    /* for IE */
    filter:alpha(opacity=60);
    /* CSS3 standard */
    opacity:0.6;
}


.page_head{
    width:1000px; height:120px; margin:0 auto;
}
.page_head .logo{
    float:left; height:100px; padding-top:10px;
}
.page_head .logo img{
    height:100px;
}
.page_head .links{
    float:right; border:1px solid #dedede; border-top:none; background-color:#fff; padding:0 10px;
    border-radius:0px 0px 10px 12px;
}
.page_head .links a,.page_head .links span{
    margin:0 2px; font-size:12px;
}
.page_head .links b{
    color:#ff9900; font-size:12px;
}
.page_head .links a{
    color:#000;
}
.page_head .links a:hover{
    color:#ff9900;
}
.page_head .links span{
    color:#aaa;
}

.page_nav_nw{
    width:998px; height:32px; padding:2px; margin:0 auto; background-color:#ff9900;
    background-image:url(../img/nav_nw.jpg); box-shadow:0px 1px 5px 0px #4a4a4a;
}
#nav_nw{
    display:block; z-index:99; padding-left:50px;
}
#nav_nw .ul02{
    display:none; position:absolute; left:0px; top:32px; z-index:100; padding:10px 0px;
    background-color:#f49800;
}
#nav_nw .ul03{
    display:none; position:absolute; left:100px; top:-1px; z-index:101;
    background-color:#ffac00;
}
#nav_nw .li01{
    display:block; height:32px; float:left; position:relative;
    border-right:thin solid #ffac23;
}
#nav_nw .link01{
    display:block; height:32px; padding:0 20px; color:#7d0000; font-size:14px; text-align:center; line-height:32px;
    border-right:thin solid #f39800;
}
#nav_nw .link01:hover{
    
}
#nav_nw .li02{
    display:block; height:30px; position:relative; border-top:thin solid #ffac00;
}
#nav_nw .link02{
    display:block; height:30px; padding-left:0 5px; text-align:center; overflow:hidden; color:#7d0000; font-size:12px; line-height:30px;
}
#nav_nw .link02:hover{
    background-color:#ffac00;
}
#nav_nw .link02_hover{
    background-color:#ffac00;
}
#nav_nw .li03{
    display:block; width:100px; height:30px;
}
#nav_nw .link03{
    display:block; width:90px; height:30px; padding-left:0 5px; text-align:center; overflow:hidden; color:#7d0000; font-size:12px; line-height:30px;
}
#nav_nw .link03:hover{
}

.page_footer{
    width:1000px; background-color:#2a2a2a; margin:0 auto; padding-bottom:20px; margin-top:30px;
    background-image:url(../img/footer_bg.jpg);
}

.page_footer .footerLink{
    width:167px; height:22px; line-height:22px; background:url(../img/footerlinks.png) no-repeat; float:left; margin-left:50px; margin-top:10px; position:relative; z-index:199; cursor:pointer;
}
.footerLink span{ padding-left:8px;}
.footerLinkCon{ width:143px; padding:12px; background:#fff; border:1px solid #e7e7e7; border-radius:2px; position:absolute; bottom:22px; left:0; display:none; }
.footerLinkCon a{ display:inline-block; width:143px; font:12px/18px "微软雅黑"; color:#336666; padding:3px 0 3px 10px; background:url(../img/list01.png) no-repeat left 10px; }
.footerLinkCon a:hover{ color:#ff9900; background:url(../img/list01_on.png) no-repeat left 10px}

.page_footer .copyright{
    width:400px; height:40px; float:right; line-height:40px; color:#9a9a9a; margin-right:20px;
}


/* index */
.index_banner{
    width:1000px; height:300px; margin:0 auto;
    box-shadow:0px 1px 5px 0px #4a4a4a;
}
.index_bannerimg{
    width:1000px; height:300px;
}

.index_banner230{
    width:1000px; height:230px; margin:0 auto;
    box-shadow:0px 1px 5px 0px #4a4a4a;
}
.index_banner230 img{
    width:1000px; height:230px;
}

.col01{
    width:260px; float:left;
}
.col02{
    width:730px; float:right;
}
.col03{
    width:720px; float:right;
}

.imenu{
    background-color:#cccc99;
}
.imenu .title01{
    height:30px; padding-top:30px; padding-left:65px; line-height:24px; font-size:14px; color:#555; font-weight:bold;
    background-position:10px 10px; background-repeat:no-repeat;
}
.imenu .nbtz{
    background-image:url(../img/nbtz.jpg);
}
.imenu .xzzx{
    background-image:url(../img/xzzx.jpg);
}
.imenu .d1{
    height:20px;
    background-image:url(../img/imenu_01.jpg);
    background-position:center top;
    background-repeat:no-repeat;
}
.imenu .d2{
    background-image:url(../img/imenu_02.jpg);
    background-position:center bottom;
    background-repeat:repeat-y;
}
.imenu ul{
    padding:0px 10px;
}
.imenu ul li{
    display:block; padding-left:10px; height:24px; overflow:hidden;
    background-image:url(../img/list03.gif); background-position:0 0; background-repeat:no-repeat;
}
.imenu ul a{
    color:#ff9900; line-height:24px;
}
.imenu .d3{
    height:20px;
    background-image:url(../img/imenu_03.jpg);
    background-position:center bottom;
    background-repeat:no-repeat;
}
.imenu .more{
    padding:5px 30px; text-align:right;
}
.imenu .more a{
    color:#ff9900;
}
.indexlist{
    width:730px; overflow:hidden;
}
.indexlist .content{
    width:760px;
}
.indexlist .item{
    width:360px; height:308px; overflow:hidden; float:left; margin-right:10px; margin-bottom:8px;
}
.index_title01{
    height:32px;
    background-image: url(../img/title01_02.jpg);
    background-position: right bottom;
    background-repeat: repeat-x;
}
.index_title01 .title01{
    display:block; float:left; padding-left:10px; padding-right:40px; height:32px; color:#b75e00; font-weight:bold; font-size:13px; line-height:32px;
    background-image:url(../img/title01_01.jpg); background-position:left bottom; background-repeat:no-repeat;
}
.index_title01 .title01 span{
    display:block; height:32px; padding-left:20px;
}
.index_title01 .more{
    display:block; float:right; margin-right:16px;
}
.index_title01 .more a{
    font-size:12px;  line-height:32px; display:block; color:#336666;
}

.index_title02{
    height:36px;
    background-image: url(../img/title02.jpg);
    background-position: left bottom;
    background-repeat: repeat-x;
}
.index_title02 .title01{
    display:block; float:left; padding-left:10px; padding-right:40px; height:36px; color:#fff; font-weight:bold; font-size:13px; line-height:36px;
}
.index_title02 .title01 span{
    display:block; height:36px; padding-left:40px;
}
.index_title02 .more{
    display:block; float:right; margin-right:16px;
}
.index_title02 .more a{
    font-size:12px;  line-height:36px; display:block; color:#fff;
}

.index_content01{
    padding:15px; border:1px solid #ccc; border-top:none;
}
.index_topone{

}
.index_topone .cover01{
    width:84px; float:left;
}
.index_topone .cover01 a{
    display:block; width:82px; height:82px; border:1px solid #ff9900;
}
.index_topone .cover01 img{
    width:80px; height:80px; border:1px solid #fff;
}
.index_topone h5{
    width:230px; height:22px; overflow:hidden; line-height:20px; float:right;
}
.index_topone h5 a{
    font-size:13px;
}
.index_topone .sub{
    width:230px; height:72px; overflow:hidden; float:right; line-height:18px; text-indent:2em;
}
.index_topone .sub a{
    color:#999; font-size:12px;
}

.index_newslist01{
    margin-top:2px;
}
.index_newslist01 li{
    height:24px; padding-left:10px; overflow:hidden; background-image:url(../img/list_point.gif); background-position:left top; background-repeat:no-repeat;
}
.index_newslist01 span{
    display:block; width:40px; height:24px; overflow:hidden; float:right;
}
.index_newslist01 a{
    display:block; width:240px; height:24px; overflow:hidden; float:left; 
}



/* log in */
.login{
    border:1px solid #ccc; border-top:none;
}
.login .title01{
    height:28px; line-height:28px; font-weight:bold; color:#666; text-align:center;
    background:url(../img/title_login.jpg) repeat-x;
}
.login .lable{
    margin: 7px 0px;
    text-align: center;
    color: #666;
    line-height: 29px;
}
.login .input{
    width: 158px;
    height: 20px;
    border: 1px solid #E3E3E3;
    color: #666;
}
.login .button{
    background: url(../img/form_but.gif) no-repeat;
    width: 65px;
    height: 22px;
    border: none;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
    line-height: 22px;
}

/* flash */
#flash_slider{
    width:300px; height:240px; margin-top:10px; position:relative;
}
#flash_slider .viewport {
        position:relative; width:300px; height:240px; overflow:hidden;
    }
    #flash_slider .overview{
        position:absolute; left:0px; top:0px;
    }
    #flash_slider .overview li{
        display:block; width:300px; height:240px; overflow:hidden; float:left; text-align:center;
    }
    #flash_slider .overview li img{
        display:block; width:300px; height:240px;
    }
    #flash_slider .bullets{
        position:absolute; right:0px; bottom:0px;
    }
    #flash_slider .bullets li{
        display:inline-block; margin-right:3px;
        /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
    }
    #flash_slider .bullets li a{
        display:inline-block; width:18px; height:18px; text-align:center; background-color:#555; line-height:18px;
        border:1px solid #fff; color:#fff;
    }
    #flash_slider .bullets li .active{
        background-color:red;
    }
/*product*/
#index_project {
    width:998px; border:1px solid #ccc;
}
#index_project .more{
    float:left; width:30px; height:170px;
    background-image:url(../img/iproject.jpg);
    background-position:right center; background-repeat:no-repeat;
}
#index_project .more a{
    display:block; width:20px; padding:0px 5px; margin-top:40px; color:#fff; line-height:20px; text-align:center; font-weight:bold;
}
#product_carousel{
    float:left; width:968px; overflow:hidden;
}
    #product_carousel .viewport {
        float:left; position:relative; width:940px; height:170px; overflow:hidden;
    }
    #product_carousel .overview{
        position:absolute; left:0px; top:0px;
    }
    #product_carousel .overview li{
        display:block; width:182px; height:160px; padding:3px;overflow:hidden; float:left; text-align:center;
    }
    #product_carousel .overview li img{
        width:180px; height:120px; border:1px solid #eee;
    }
    #product_carousel .product_btn {
        float:left; width:18px; margin-top:6px;
    }
    #product_carousel .product_btn .prev{
        display:block; width:18px; height:50px; background-color:#eee;
        background-image:url(../img/icon_prev.png); background-position:center center; background-repeat:no-repeat;
    }
        #product_carousel .product_btn .prev:hover {
            background-image:url(../img/icon_prev_on.png);
        }
    #product_carousel .product_btn .next{
        display:block; width:18px; height:50px; background-color:#eee; margin-top:6px;
        background-image:url(../img/icon_next.png); background-position:center center; background-repeat:no-repeat;
    }
        #product_carousel .product_btn .next:hover{
            background-image:url(../img/icon_next_on.png);
        }


.inner_nav{
    width:1000px; margin:20px auto; padding:6px 0px; height:26px; border-bottom:1px solid #CCC;
}
.inner_nav a,.inner_nav span{
    display:inline-block; height:26px; line-height:26px; color:#666; font-size:13px; margin-right:10px;
}
.inner_nav a:hover,.inner_nav .cur{
    color:#ff9900;
}
.inner_nav .index{
    padding-left:20px; background-image:url(../img/icon_home.jpg); background-position:left center; background-repeat:no-repeat;
}

.col_inner01{
    width:216px; float:left;
}
.col_inner02{
    width:760px; float:right;
}
.smenu{

}
.smenu h3{
    width: 216px;
    height: 52px;
    line-height: 55px;
    background: url(../img/smenu_01.jpg);
    background-position:center top;
    font-size: 22px;
    font-weight: normal;
    text-indent: 50px;
    color: #fff;
}
.smenu .list{
    width: 216px;
    height: auto;
    background: url(../img/smenu_03.jpg) repeat-y;
}
.smenu .list li{
    width: 178px;
    height: 42px;
    margin: auto;
}
.smenu .list li a{
    width: 100%;
    height: 42px;
    font-size: 14px;
    color: #555555;
    background: url(../img/sibar.png) 0px -42px;
    text-indent: 5px;
    line-height: 42px;
    display: block;
    text-decoration: none;
}
.smenu .list li .cur,.smenu .list li a:hover{
    background: url(../img/sibar.png) 0px 0px;
    color: #39665f;
}
.smenu .bot{
    height:20px; background: url(../img/smenu_04.jpg) center bottom no-repeat;
}

.inner_html{

}

.inner_project{
    width:760px; overflow:hidden;
}
.inner_project_content{
    width:800px;
}
.inner_project_content .item{
    width:240px; margin-right:10px; float:left; border:1px solid #ccc; padding:1px;
    height:196px; overflow:hidden; margin-bottom:20px;
}
.inner_project_content .cover01{
    width:240px; height:160px;
}
.inner_project_content .cover01 img{
    width:240px; height:160px; cursor:pointer;
}
.inner_project_content .title01{
    padding:8px; line-height:18px; text-align:center; height:18px; overflow:hidden;
}

.paging{height:50px; padding-top:15px; line-height:50px; text-align:center; overflow:hidden;} 
.paging a{padding:5px 10px; background:#f5f5f5; color:#6a6a6a; margin-right:5px; text-decoration:none;}
.paging a:hover,.paging a.checka{background:#ff9900; color:#fff;}

.newslist{
}
.newslist .item{
    border:1px solid #fff; background-color:#f3f3ef;
}
.newslist .item_w{
    padding-bottom:30px; background-image:url(../img/newslist_bg.jpg); background-position:center bottom; background-repeat:no-repeat;
}
.newslist .p1{
    padding:18px;
    float:left;
    width:558px;
}
.newslist .n_title{
    height:22px;
    line-height:22px;
    overflow:hidden;
    cursor: pointer;
}
.newslist .n_title a{
    color: #ff9900;
    font-size:14px;
    font-weight:bold;
}
.newslist .n_content{
    height:43px;
    margin-top:5px;
    overflow:hidden;
    cursor:pointer;
    line-height:20px;
    text-indent:2em;
}
.newslist .n_content a{
    color:#8a8b8d;
    line-height:20px;
}

.newslist .p2{
    background:#e5e5b0;
    color:#555;
    float:right;
    font-family:Georgia;
    font-size:18px;
    text-align:center;
    padding:41px 0px;
    width:120px;
}


.newscontent{

}
.newscontent .date{
    width:70px; float:left; text-align:center;
}
.newscontent .date div{
    height:60px; font-size:36px; line-height:60px; font-family:Georgia; color:#fff; background-color:#477575;
}
.newscontent .date span{
    display:block; font-size:14px; font-family:Georgia; color:#fff; background-color:#ff9900;
}
.newscontent .detail{
    width:650px; float:right;
}
.newscontent .newstitle{
    font-size: 16px;
    margin-bottom: 5px;
}
.newscontent .source{
    color:#555;
}
.newscontent .source span{
    margin-right:15px;
}
.newscontent .textcontent{
    margin-top:30px;
}
.textcontent img{
    max-width: 650px;  
    _width:expression(this.scrollWidth > 650 ? "650px" : "auto"); /* sets max-width for IE6 */ 
}



.col_reply{
    padding-left:80px; margin-top:20px;
}

.bbs_reply{

}
.bbs_reply .head{
    border-bottom:1px solid #e6e6e6;
}
.bbs_reply .head b{
    color:#ff7519; font-size:18px;
}
.bbs_reply .item{
    border-bottom:1px dashed #e6e6e6; padding:10px 0;
}
.replylist_cover{
    float:left; width:60px;
}
.replylist_cover img{
    width:50px; height:50px; border-radius:50px;
}
.replylist_content{
    float:right; width:550px;
}
.replylist_content .name{
    color:#ff7519; margin-right:6px;
}
.replylist_content .date{
    color:#999;
}
.replylist_content .message{

}


.to_reply_cover{
    float:left; width:60px;
}
.to_reply_cover img{
    width:50px; height:50px; border-radius:50px;
}
.to_reply_content{
    float:right; width:560px;
}
#emcontainner{

}
.reply_bt{
    display:block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    background-color: #ff8b3d;
    border: 1px solid #ff8b3d;
    text-align:center;
    color:#fff;
}
.reply_bt:hover{
    color:#fff;
}
